.featurette img {
	display: block;
	box-sizing: border-box;
	width: fit-content;
	height: fit-content;
	max-width: 500px
}

.order-md-1, .order-md-2 {
	overflow:hidden;
}


.circle-image-container {
	width:300px;
	height:300px;
	margin: 0 auto 30px auto;
}

.circle-image-container img {
	width:100%;
	height:auto;
	border-radius: 500px;
	border: 0;
}

.circle-image-container:hover {
    filter: drop-shadow(2px 4px 6px black);
}

.marketing .col-lg-4 p {
	min-height: 70px;
    margin-top: 20px;
}

.featurette .col-md-7 {
	padding:20px;
}

.featurette .lead  {
	padding-top:20px;
}

.featurette-heading {
	margin-top:0;
}

/*----------------------------------------------------
	Описываем оформление и поведение блока, который содержит ссылки на социальные сети
----------------------------------------------------*/

.block-social-media {
	float:right;
	overflow:hidden;
	clear:both;
}

/*----------------------------------------------------
	Задаём фоновые изображения
	Замените пути на реальное расположение файлов
	Предполагается, что все изображения будут квадратными
	Размер масштабируется в селекторе .block-social-media i
----------------------------------------------------*/

.block-social-media-email i {
    background-image: url("img/social/email.png");
}

.block-social-media-vk i {
    background-image: url("img/social/vk.png");
	// Брендбук - https://vk.com/brand
}

.block-social-media-max i {
    background-image: url("img/social/max.png");
}

.block-social-media-rutube i {
    background-image: url("img/social/rutube.png");
	// Брендбук - https://rutube.ru/brand/
}

.block-social-media-ok i {
    background-image: url("img/social/ok.png");
	// Брендбук - https://insideok.ru/brandbook/
}

.block-social-media-dzen i {
    background-image: url("img/social/dzen.png");
	// Брендбук - https://dzen.ru/about/download
}

.block-social-media-tg i {
    background-image: url("img/social/tg.png");
	// Брендбук - https://telegram.org/tour/screenshots
}

/*----------------------------------------------------
	Описываем оформление и поведение элементов списка
----------------------------------------------------*/

.block-social-media li {
	display: block;
	float: left;
	box-sizing: border-box;
	margin:1px;
	padding:0; 
	width: fit-content;
	height: fit-content;
}

/*----------------------------------------------------
	Описываем оформление и поведение значка социальной сети
----------------------------------------------------*/  

.block-social-media i {
	color: #000000;
	height: 50px;
	width: 50px;
	text-align: center;
	vertical-align: sub;
	background-position: center;
    background-repeat: no-repeat;	
	background-size: contain;
	display:block;	
}

.block-social-media__big i {
	height: 100px;
	width: 100px;
}

.block-social-media__small i {
	height: 30px;
	width: 30px;
}

.block-social-media__rounded-corners i {
	border-radius: 15px;	
}

.block-social-media__rounded-corners.block-social-media__big i {
	border-radius: 25px;	
}

.block-social-media__rounded-corners.block-social-media__small i {
	border-radius: 7px;	
}

.block-social-media__circle i {
	border-radius: 100px;	
}


.block-social-media__grayscale i {
	filter: grayscale(100%);
}

.block-social-media__grayscale i:hover {
	filter: initial;
}

.block-social-media__grayscale .block-social-media-dzen i {
	filter: opacity(50%);
}

.block-social-media__grayscale .block-social-media-dzen i:hover {
	filter: initial;
}

/*----------------------------------------------------
	Описываем оформление и поведение ссылки
----------------------------------------------------*/  

.block-social-media a {
	border:0;
}
/*----------------------------------------------------*/